html {
  16px;
}

body {
   background: url('https://i.pinimg.com/1200x/a1/95/be/a195bed073cc6b95134a995a9f6b37ae.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 width: 100%;
}

h1 {
  background-color: #93A9B7;
  color: #f4f4f4;
  border-radius: 15px;
  padding: 12px;
  margin: 1.2rem;
  max-width: 600px;
  text-align: center;
  font-family: 'Super Pandora';
  border: 0.210rem solid #3F7FB3;
  -webkit-text-stroke: 0.1rem #3B5862;
}

img {
  margin-left: 8.9rem;
   margin-rigth: 8.9rem;
  border: 0.210rem solid #92BEF9;
}

h2 {
   background-color: #87B8F9;
  color: #f4f4f4;
  border-radius: 15px;
  padding: 5px;
  margin: 1.2rem;
  max-width: 600px;
  text-align: center;
  font-family: 'Peach Club Script';
  border: 0.210rem solid #5A7AF9;
  text-shadow: -0.125rem -0.125rem 0 #325362,  
                0.125rem -0.125rem 0 #325362,
               -0.125rem  0.125rem 0 #325362,
                0.125rem  0.125rem 0 #325362;
}

h3 {
  background-color: #2FA6F9;
  color: white;
  margin: 1.2rem;
  padding: 7px;
  max-width: 600px;
  text-align: center;
  border-radius: 15px;
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
   border: 0.210rem solid #0088F9;
   
}
a {
  color: #435EB3;
  margin: 2rem;
  font-style: italic;
  font-family: Verdana;
  font-size: 1.2rem;
}

a:hover {
  color: red;
}

h4 {
  background-color: #56B3AD;
  color: #005B62;
  max-width: 600px;
  padding: 4px;
  margin: 1.5rem;
  text-align: center;
  border-radius: 16px;
  font-size: 1.5rem;
   margin-bottom: 0.6rem;
   border: 0.210rem solid #2F7A62;
  font-family: Tahoma;
}

.lista {
  color: #005B62;
  max-width: 600px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.2rem;
  font-size: 1.3rem;
  text-align: left;
}

p {
  font-family: Verdana;
  max-width: 600px;
  margin-left: 2rem;
   margin-right: 2rem;
  margin-top: 0.1rem;
  text-align: center;
  font-style: italic;
  background-color: white;
  border: 0.210rem solid #92BEF9;
}
